@import "../../../styles/variables";

.myEvents {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h3#login_message {
        text-align: center;
        margin: 0 auto;
        font-family: $main_font;
        font-weight: 400;
        padding-bottom: 10%;
    }

   
    table {
      border-collapse: collapse;
      width: 92%;
      margin: 0 auto;
      border: none;
  
      thead {
        tr {          
          th {
            background-color: $second_color;
            color: $nav_font_hover;
            text-align: left;
            padding: 6px 8px;
            font-weight: 500;
          }
        }
      }
  
      tbody {
        tr {
          td {
            padding: 0.5em;
            text-align: left;
  
            .update {
              border: 1px solid $second_color;
              border-radius: 7px;
              background-color: $bg-color;
              margin: 0.2em;
              line-height: 1em;
              // width: 8em;
              // height: 2.7em;
              padding: 9px 15px;
              align-self: flex-start;
              font-size: 0.9em;
              transition: 0.3s;

              &:hover {
                background-color: $second_color;
                color: $nav_font_hover;
              }
  
              span {
                display: flex;
                justify-content: center;
                font-size: 0.5em;
              }
            }
  
            .disable {
              border: 1px solid $second_color;
              border-radius: 7px;
              background-color: $bg-color;
              margin: 0.2em;
              line-height: 1em;
              // width: 8em;
              // height: 2.7em;
              padding: 9px 12px;
              display: flex;
              justify-content: center;
              align-items: center;
              font-size: 0.9em;
              transition: 0.3s;

              &:hover {
                background-color: $second_color;
                color: $nav_font_hover;
              }
            }
          }
  
          &:nth-child(even) {
            background-color: $nav_font_hover;
          }
  
          .button {
            width: 9em;
          }
  
        }
      }
    }
  }