@import "../../../styles/_variables.scss";
@import "../../../styles/variables.scss";

.breadcrumbs {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;

    span {
        color: $text_color_light; // Use your primary color here
        margin: 0 10px;
        padding: 5px;
        cursor: pointer;

        &.active {
            color: $green;
            font-weight: bold;
        }
    }
}